<section class="projects">
  <h2>Mis Proyectos</h2>

    <div class="projects-grid">
      @for (project of projectsList; track project.id) {
        <div class="project-card" (click)="goToGithub(project.github)">
          <h3>{{ project.name }}</h3>
          <p>{{ project.description }}</p>
          <div class="tech-tags">
            @for (tech of project.technologies; track tech.name) {
              <span class="tag">{{ tech }}</span>
            }
          </div>
          <a href='{{ project.github }}' target="_blank" class="github-link">Ver en GitHub →</a>
        </div>
      }
    </div>
  
</section>